# Integração Bling V3
BLING_CLIENT_ID=seu_client_id_aqui
BLING_CLIENT_SECRET=seu_client_secret_aqui

# Banco de Dados
DATABASE_URL=file:./database.json

# Segurança
JWT_SECRET=seu_jwt_secret_securizado

# Outros Serviços
GEMINI_API_KEY=

# Configuração do Banco Legado (.mdb)
MDB_NETWORK_PATH="\\caminho\de\rede\Dados.MDB"
MDB_LOCAL_PATH="caminho\local\Dados_copia.MDB"
MDB_PASSWORD="senha_aqui"
